<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331346441633-d30u20mgb0rljb5e16e2t7ai1s3fp9jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331346441633-d30u20mgb0rljb5e16e2t7ai1s3fp9jo</string>
	<key>API_KEY</key>
	<string>AIzaSyB7qcDQQPk0KiR07y7RFhQ8ENZ_9TrTjPo</string>
	<key>GCM_SENDER_ID</key>
	<string>331346441633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yaanvar.MicroBlog</string>
	<key>PROJECT_ID</key>
	<string>microblog-c46ab</string>
	<key>STORAGE_BUCKET</key>
	<string>microblog-c46ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331346441633:ios:84fe9120334f34b4fac7e0</string>
</dict>
</plist>