<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402764015883-43fvhh8chh9n8ub7ins0jpqnj5puasau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402764015883-43fvhh8chh9n8ub7ins0jpqnj5puasau</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Q1a8ta4Ukd3eFXp4ygBYnt32Lj62EMA</string>
	<key>GCM_SENDER_ID</key>
	<string>402764015883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yaanvar.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-e855b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-e855b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402764015883:ios:b6e6c815a8fa09e03ada0e</string>
</dict>
</plist>